<div class="row card-box-1">
  <div class="col-sm-4">
    <img class="card-img-left" src="../../assets/addRecipe.jpg" alt="" />
  </div>
  <div class="col-sm-8 card-box-1-text">
    <div class="card-box-1-text-title">Create Recipe</div>
    <div class="card-box-1-text-decoration">
      <form class="form-group" [formGroup]="createRecipe">
        <div class="row">
          <label for="name">Name Of Dish</label>
          <input
            formControlName="name"
            name="name"
            type="text"
            class="form-control"
            placeholder="Name Of Dish"
          />
          <br />
          <label for="ingredients">Ingredients List</label>
          <input
            formControlName="ingredients"
            name="ingredients"
            type="text"
            class="form-control"
            placeholder="Ingredients List"
          />
          <br />
          <label for="steps"> Cooking Steps</label>
          <textarea
            formControlName="steps"
            name="steps"
            class="form-control"
            placeholder="cooking steps"
          ></textarea>
          <br />
          <div class="row">
            <div class="col-sm-4">Cooking Time:</div>
            <div class="col-sm-3">
              <input
                type="text"
                formControlName="time"
                name="time"
                class="form-control"
              />
            </div>
            <div class="col-sm-4">
              <button (click)="addRecipe()" class="btn btn-success button-1">
                Add Recipe
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
