<nav></nav>

<div class="row">
  <div *ngFor="let x of recipeDataArray" class="col-sm-6">
    <div class="row card-box-1">
      <div style="padding: 3px" class="col-sm-4">
        <img class="card-img-left" src="../../assets/addRecipe.jpg" alt="" />
      </div>
      <div class="col-sm-8 card-box-1-text">
        <div class="card-box-1-text-decoration">
          <div class="row">
            <label for="name">Name Of Dish: {{ x.name }}</label>
            <label for="name">Posted By: {{ x.user_id }}</label>
            <br />
            <label for="ingredients"
              >Ingredients List: {{ x.ingredients }}</label
            >

            <br />
            <label for="steps"> Cooking Steps: {{ x.steps }}</label>

            <br />
            <div class="row">
              <div class="col-sm-4">
                <label for="steps"> Cooking Time: {{ x.time }}</label>
              </div>
              <div class="col-sm-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
